/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.sendresume{
    padding-top: 15%;
    margin: auto;
    width: 400px;
    height: 500px;
}

.container{
  padding-top: 3%;
  margin: auto;
  width: 400px;
  height: 500px;
}
.onecard{
  padding-bottom: 15px;
}




.sendusertest{
  margin:auto;
  margin-top: 13%;
  height: 400px;
  width:500px;
  
}

.containertest{
  margin:auto;
  margin-top: 13%;
  height: 400px;
  width:500px;
  background-color: lightgreen;
  
}

.containertest div input{
  margin-top: 10px;
  
}

.myClass0{
  margin:auto;
  display: flex;
  flex-direction: column;
  padding-top: 9%;
  width: 400px;
  height: 300px;
}
.myClass1{
  margin:auto;
  display: flex;
  flex-direction: column;
  padding-top: 9%;
  width: 400px;
  height: 300px;
}
.myClass2{
  margin:auto;
  display: flex;
  flex-direction: column;
  padding-top: 9%;
  width: 400px;
  height: 300px;
}
.myClass3{
  margin:auto;
  display: flex;
  flex-direction: column;
  padding-top: 9%;
  width: 400px;
  height: 300px;
}
.myClass4{
  margin:auto;
  display: flex;
  flex-direction: column;
  padding-top: 9%;
  width: 400px;
  height: 300px;
}
.myClass5{
  margin:auto;
  display: flex;
  flex-direction: column;
  padding-top: 9%;
  width: 400px;
  height: 300px;
}
.myClass6{
  margin:auto;
  display: flex;
  flex-direction: column;
  padding-top: 9%;
  width: 400px;
  height: 300px;
}
.myClass7{
  margin:auto;
  display: flex;
  flex-direction: column;
  padding-top: 9%;
  width: 400px;
  height: 300px;
}
.myClass8{
  margin:auto;
  display: flex;
  flex-direction: column;
  padding-top: 9%;
  width: 400px;
  height: 300px;
}
.myClass9{
  margin:auto;
  display: flex;
  flex-direction: column;
  padding-top: 9%;
  width: 400px;
  height: 300px;
}

.labeli{
  margin:auto;
  
}